@import url('https://fonts.googleapis.com/css?family=Anton|Dosis|Gentium+Basic|Josefin+Slab&display=swap');
:root {
    --survey-color: #002c6c;
    --light-color: #f3f3f3;
}


/* utility */

h2 {
    margin-top: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: 10;
    padding: 10px;
}

.container {
    margin: auto;
    max-width: 1101px;
    display: flex;
    justify-content: center;
    /* position: relative; */
}

.flex-a {
    /* border: 1px solid #002c6c; */
    margin-top: 20px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.form_contain {
    margin-top: 20px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 10px 10px;
    font-family: 'Gentium Basic', serif;
}

.qform {
    width: 100%;
    font-size: 16px;
    line-height: 30px;
}

.qform form div {
    margin-bottom: 20px;
    background: var(--light-color);
}


/* .contain {} */

.survey {
    background: var(--survey-color)! important;
    color: #fff;
    font-family: 'Josefin Slab', serif;
    padding: 20px;
}

input[type="text"] {
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    /* border-radius: 4px 4px 4px 4px; */
}

input[type="email"] {
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: var(--survey-color);
    border-radius: 10px 10px;
    color: #fff;
    font-family: 'Gentium Basic', serif;
}